/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
    h1 {
        font-size: 40px;
        line-height: 52px;
    }
  /* ===== header start ===== */
  #header_part .navbar-toggler {
    border: none;
  }
  #header_part .navbar-toggler:hover {
    box-shadow: none;
  }

  /* ===== feature_part start ===== */
  #feature_part {
    padding-top: 100px;
  }
  .feature_part_right {
    margin-top: 35px;
  }
  .post_box {
    padding-right: 0;
  }
  /* ===== about_mission_part start ====== */
  .mission_part {
    margin-top: 35px;
  }
  /* ===== catagory_part start ====== */
  .author_box,
  .catagory_item{
    margin-top: 35px;
  }
  /* ===== special_post_part start ====== */
  .special_post_box{
    position: static;
  }
  .special_post_box img{
    width: 100%;
  }
  .special_post_part{
    position: static;
    width: 100%;
  }
  /* ===== authors_part start ====== */

  /* ===== client_part start ====== */
  #client_part{
    text-align: center;
  }
  .client_logo{
    margin-top: 15px;
  }
  /* ===== footer start ===== */
  .footer_menu .nav-item {
    margin-left: 20px;
    padding-top: 10px;
  }
  .footer_menu .nav-item .nav-link {
    font-size: 14px;
  }
  .footer_newsletter {
    background: #2e3040;
    padding: 70px 50px;
  }
  .newsletter_content h2 {
    margin-bottom: 15px;
  }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  /* ===== feature_part start ===== */
  #feature_part {
    padding-top: 80px;
  }
  /* ===== about_mission_part start ====== */

  /* ===== footer start ===== */
  .footer_menu .nav-item {
    margin-left: 0px;
    padding-top: 10px;
  }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  h2 {
    font-size: 30px;
  }
  .theme_btn {
    padding: 16px 35px;
  }
  /* ===== footer start ===== */
  .footer_menu .nav-item {
    margin-left: 0px;
    padding-top: 10px;
  }
  .footer_menu .nav-item .nav-link {
    font-size: 14px;
    padding: 8px;
  }
  .newsletter_form input {
    width: 250px;
  }
}
